In [2]:
import unibox as ub

df = ub.loads("hf://datatmp/test_hf_card3")

df

Using global temporary directory: /tmp/unibox_temp
2025-02-22 16:42:56 [INFO] loads: Dataset LOADED from "hf://datatmp/test_hf_card3" in 1.45s

Dataset({
    features: ['name', 'age', 'height', 'weight', 'date', 'is_student'],
    num_rows: 1000
})

In [2]:
import unibox as ub

df = ub.loads("hf://datatmp/test_hf_card3", to_pandas=True)

df

2025-02-22 16:42:25 [INFO] loads: DataFrame LOADED from "hf://datatmp/test_hf_card3" in 1.16s

         name  age  height  weight                       date  is_student
0      Name_0   55     168      52 2025-02-21 23:42:14.771897        True
1      Name_1   53     157      95 2025-02-21 23:42:14.771899        True
2      Name_2   79     150     123 2025-02-21 23:42:14.771899       False
3      Name_3   50     193     137 2025-02-21 23:42:14.771899        True
4      Name_4   30     169     134 2025-02-21 23:42:14.771900        True
..        ...  ...     ...     ...                        ...         ...
995  Name_995   55     183     112 2025-02-21 23:42:14.772106        True
996  Name_996   62     164     116 2025-02-21 23:42:14.772106        True
997  Name_997   22     200     120 2025-02-21 23:42:14.772106       False
998  Name_998   31     182      73 2025-02-21 23:42:14.772107       False
999  Name_999   73     196      97 2025-02-21 23:42:14.772107        True

[1000 rows x 6 columns]

In [3]:
df = ub.loads("/lv0/yada/unibox/tests/test_files/sample.csv", to_pandas=True)
df

TypeError: CSVLoader.load() got an unexpected keyword argument 'to_pandas'