In [1]:
import unibox as ub

# should load dataset as huggingface dataset, then convert to pandas
df = ub.loads("hf://datatmp/test_hf_card3").to_pandas()
assert df is not None

df

Using global temporary directory: /tmp/unibox_temp
2025-04-16 11:11:00 [INFO] loads: Loading from hf://datatmp/test_hf_card3

         name  age  height  weight                       date  is_student
0      Name_0   55     168      52 2025-02-21 23:42:14.771897        True
1      Name_1   53     157      95 2025-02-21 23:42:14.771899        True
2      Name_2   79     150     123 2025-02-21 23:42:14.771899       False
3      Name_3   50     193     137 2025-02-21 23:42:14.771899        True
4      Name_4   30     169     134 2025-02-21 23:42:14.771900        True
..        ...  ...     ...     ...                        ...         ...
995  Name_995   55     183     112 2025-02-21 23:42:14.772106        True
996  Name_996   62     164     116 2025-02-21 23:42:14.772106        True
997  Name_997   22     200     120 2025-02-21 23:42:14.772106       False
998  Name_998   31     182      73 2025-02-21 23:42:14.772107       False
999  Name_999   73     196      97 2025-02-21 23:42:14.772107        True

[1000 rows x 6 columns]

In [3]:
# save the pandas dataframe, make sure that dataset card is properly updated
ub.saves(df, "hf://datatmp/test_hf_card3_pandas_2x")

2025-04-16 11:11:19 [INFO] saves: Saving to hf://datatmp/test_hf_card3_pandas_2x

ValueError: invalid literal for int() with base 10: 'datatmp/test_hf_card3_pandas_2x'

In [3]:
df.iloc[:3]

     name  age  height  weight                       date  is_student
0  Name_0   55     168      52 2025-02-21 23:42:14.771897        True
1  Name_1   53     157      95 2025-02-21 23:42:14.771899        True
2  Name_2   79     150     123 2025-02-21 23:42:14.771899       False

In [4]:
# save to a split
ub.saves(df.iloc[:3], "hf://datatmp/test_hf_card3_pandas", split="first_3")

2025-02-22 20:58:35 [INFO] saves: Saving to hf://datatmp/test_hf_card3_pandas

Uploading the dataset shards:   0%|          | 0/1 [00:00<?, ?it/s]

Creating parquet from Arrow format:   0%|          | 0/1 [00:00<?, ?ba/s]

README.md:   0%|          | 0.00/2.50k [00:00<?, ?B/s]

README.md:   0%|          | 0.00/2.50k [00:00<?, ?B/s]

In [5]:
# load a split
df3 = ub.loads("hf://datatmp/test_hf_card3_pandas", split="first_3").to_pandas()
df3

2025-02-22 20:58:41 [INFO] loads: Loading from hf://datatmp/test_hf_card3_pandas

README.md:   0%|          | 0.00/2.33k [00:00<?, ?B/s]

Generating train split:   0%|          | 0/1000 [00:00<?, ? examples/s]

Generating first_3 split:   0%|          | 0/3 [00:00<?, ? examples/s]

     name  age  height  weight                       date  is_student
0  Name_0   55     168      52 2025-02-21 23:42:14.771897        True
1  Name_1   53     157      95 2025-02-21 23:42:14.771899        True
2  Name_2   79     150     123 2025-02-21 23:42:14.771899       False

In [1]:
import unibox as ub

res = ub.loads("s3://dataset-ingested/temp/unibox_debug/clip_prompts_list_full_v2.txt")
res

Using global temporary directory: /tmp/unibox_temp
2025-02-22 21:34:22 [INFO] loads: Loading from s3://dataset-ingested/temp/unibox_debug/clip_prompts_list_full_v2.txt

['anime',
 'anime illustration',
 'an anime style image',
 'a photo',
 'a realistic photo',
 'a cosplay photo',
 'a photo of a person in cosplay costumes',
 'a photo of a person doing cosplay',
 'a drawing',
 'a painting',
 'logo design',
 'font design',
 '2d design',
 'a 3d render',
 'a character design sheet',
 'a QR code',
 'drawing sketch',
 'painting sketch',
 'a realistic drawing',
 'a realistic photo of some food',
 'a photo of the table with food',
 'food photo',
 'an abstract painting',
 'artificial illustration',
 'realistic photography',
 'a photo of a painting',
 'sketch image',
 'doodle',
 'album cover',
 'meme',
 'comic page',
 'manga page',
 'screenshot',
 'gacha game',
 'mobile game screenshot',
 'a document',
 'a document page',
 'text',
 'book',
 'a diagram',
 'solid color',
 'color gradient',
 'simplistic image',
 'an professional image that follows photography composition',
 'an image with imbalanced visual weight',
 'an image with all focal subjects concentrated on one side of the frame',
 'an image with primary subject obscured',
 'an image with distracting unimportant objects',
 'an image with balanced exposure that enhances the image',
 'an image with dynamic lighting',
 'an image with lighting that originates from an angle',
 'an image with artificial lighting',
 'an image with lackluster lighting',
 'an excessively dim image',
 'an overexposed image',
 'an image with strong color and contrast',
 'an monochromatic image',
 'an image with a single dominant color',
 'a realistic photo of some food',
 'food photo',
 'a photo of the table with food',
 'a QR code',
 'a 3d render',
 'logo design',
 'a photo of a person in cosplay costumes',
 'a photo of a person doing cosplay',
 'a cosplay photo',
 'a photo of a book',
 'a blank page with no recognizable main subject',
 'a screenshot taken from a drawing software',
 'a sketch with no recognizable main subject',
 'a sketch that is not of anime subject',
 'a photo of the real world taken from a perspective with printed anime goods in the shot',
 'a photo taken from a perspective with printed anime goods in the shot',
 'a photo taken from a perspective with some anime goods in the shot',
 'an anime advertisement with text on it',
 'a poster with text with anime figures on it',
 'a screenshot from gacha game with ui on it',
 'a gacha game screenshot',
 'a photo of a drawing on a table with some pens nearby',
 'a photo of a drawing and its surrounding',
 'a photo of anime related goods',
 'a photo of a booth of anime goods']

In [7]:
import unibox as ub

res = ub.loads("hf://datatmp/test_hf_card3/data/train-00000-of-00001.parquet")
res

2025-02-22 20:58:53 [INFO] loads: Loading from hf://datatmp/test_hf_card3/data/train-00000-of-00001.parquet

         name  age  height  weight                       date  is_student
0      Name_0   55     168      52 2025-02-21 23:42:14.771897        True
1      Name_1   53     157      95 2025-02-21 23:42:14.771899        True
2      Name_2   79     150     123 2025-02-21 23:42:14.771899       False
3      Name_3   50     193     137 2025-02-21 23:42:14.771899        True
4      Name_4   30     169     134 2025-02-21 23:42:14.771900        True
..        ...  ...     ...     ...                        ...         ...
995  Name_995   55     183     112 2025-02-21 23:42:14.772106        True
996  Name_996   62     164     116 2025-02-21 23:42:14.772106        True
997  Name_997   22     200     120 2025-02-21 23:42:14.772106       False
998  Name_998   31     182      73 2025-02-21 23:42:14.772107       False
999  Name_999   73     196      97 2025-02-21 23:42:14.772107        True

[1000 rows x 6 columns]

In [8]:
import unibox as ub

res = ub.loads("hf://datatmp/test_hf_card3_pandas/data/first_3-00000-of-00001.parquet")
res

2025-02-22 20:58:55 [INFO] loads: Loading from hf://datatmp/test_hf_card3_pandas/data/first_3-00000-of-00001.parquet

     name  age  height  weight                       date  is_student
0  Name_0   55     168      52 2025-02-21 23:42:14.771897        True
1  Name_1   53     157      95 2025-02-21 23:42:14.771899        True
2  Name_2   79     150     123 2025-02-21 23:42:14.771899       False

In [1]:
import unibox as ub

ub.ls("hf://datatmp/test_hf_card3_pandas/data")

Using global temporary directory: /tmp/unibox_temp
2025-02-22 21:00:11 [INFO] ls: Listing contents of hf://datatmp/test_hf_card3_pandas/data

['hf://datatmp/test_hf_card3_pandas/data/first_3-00000-of-00001.parquet',
 'hf://datatmp/test_hf_card3_pandas/data/train-00000-of-00001.parquet']

debug num_proc: